@media screen and (min-width:768px){
    .custom-media-box {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .post-contant {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .pr-40 {
        padding-left: 60px!important;
    }
    .redy-to-earn-text h1 {
        margin-top: 80px;
    }
}
@media screen and (min-width:1200px){
    .custom-container {
        width: 1088px !important;
    }
}