@media screen and (min-width:768px){
    .custom-media-box {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .post-contant {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}