h1, h2, h3, h4, span, p, a, div {
    color: #4b484b;
   
}
.main-banner {
    background-image: url(../images/bg-1.png); 
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 600px;
}
.custom-navbar {
    margin-bottom: 0px !important;
    background-color: #ffffff!important;
    border-color: #ffffff!important;
    padding: 20px 0px!important;
}
.d-table {
    width: 100%;
    height: 100%;
    display: table!important;
}
.d-table-cell {
    vertical-align: middle;
    display: table-cell!important;
}
.get-appointment-form {
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 15px;
}
.navbar-default .navbar-nav>li>a {
    color: #444!important;
    font-size: 18px!important;
    font-weight: 500!important;
    padding: 10px 25px!important;
}
.title{
    color: #4b484b;
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
}
.ptb{
    padding: 45px 0px;
}
.media-contant {
    display: flex;
    margin-left: 35px;
}
.media h3 {
    margin-bottom: 25px;
}
.get-appointment-form h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #1b1a1a;
    text-align: center;
    font-weight: 600;
    margin-top: 0px;
}
.get-appointment-form p {
    font-size: 14px;
    
    color: #1b1a1a;
    text-align: center;
    
}

.form-footer {
    margin-top: 10px;
}
.form-footer p span {
    font-size: 16px !important;
    font-weight: 600 !important;
}
.form-footer p {
    text-align: left !important;
}
p.mtb {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px !important;
    float: left;
    width: 100%;
}
button.btn.btn-primary.cu-btn {
    width: 100%;
}
.cu-media-body {
    display: inline-flex;
    vertical-align: middle;
}
.cu-media-body .pull-left {
    margin: auto;
}.cu-media-body {
    margin-top: 20px;
}
.full_service {
    background: #f2f2f2;
}
.cu-border:after {
    position: absolute;
    content: "";
    width: 10%;
    height: 3px;
    background: #4b484b;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.custom-logo img {
    width: 300px;
    /* position: absolute;
    top: 0;
    z-index: 9; */
    position: absolute;
    top: 0;
}
.custom-navbar {
    border-bottom: 1px solid #ddd !important;
}
.get-appointment-form .form-control {
    border-radius: 0;
    height: 40px;
    padding: 8px 15px;
    font-size: 14px;
    border-color: #ddd;
    background-clip: inherit;
    border: 1px solid #ddd;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.carousel {
    position: relative;
    margin-bottom: 20px;
    line-height: 1;
}
.carousel-control {
   position: absolute !important;
    top: 50% !important;
    /* left: 15px !important; */
    width: 40px !important;
    height: 40px !important;
    margin-top: -20px;
    font-size: 60px !important;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: transparent !important;
    border: 0px !important;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    box-shadow: none;
    color: #000 !important;
    opacity: 1 !important;
    text-shadow: none !important;
}

/*testi monial css start*/
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #1c47e3;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: '\93';
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #1c47e3;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 50%;
	margin: 1px 3px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #1c47e3;    
    border: 5px double;    
}

/* Ask Qusetion css start */
/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

    /* blog landing css start*/
    .blog-side-box {
        background: #f2f2f2;
        padding: 85px 20px;
        border-radius: 10px;
    }
    .blog-img img {
        width: 100%;
        height: 421px;
        border-radius: 10px;
    }
    .blog-landing {
        margin-top: 30px;
    }
    .blog-side-title {
        margin-bottom: 85px;
        text-align: center;
    }
    .blog-side-box p a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: #3498db;
    }
    img{
        width: 100%;
    }
   .custom-card img {
        border-radius: 10px 10px 0px 0px;
    }
    .custom-card {
        border: 1px solid #f2f2f2;
        border-radius: 10px !important;
    }
    .card-body {
        padding: 20px;
    }
    .Popular-title {
        margin: 50px 0px;
    }
    
    .Popular-title h3 {
        font-size: 28px;
        font-weight: 600;
    }
    .c-footer a {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: #3498db;
    }
    .bg-light {
        background: #f2f2f2;
    }
    .pt-5.pb-3 {
        padding: 20px 0px;
    }
    .list-unstyled li a {
        color: #4b484b;
        text-decoration: none;
        font-size: 15px;
        margin: 7px 0px !important;
        display: block;
    }
    .footers-link-title h5 {
        font-weight: 600;
    }
    .copyright.border {
        background: #f2f2f2;
        border-top: 1px solid #ddd;
        padding: 10px 0px;
    }
    .copyright.border p a {
        color: #4b484b;
        text-decoration: none;
        margin: 0px 10px;
    }
    .Recent {
        margin-bottom: 70px;
    }
    .social {
        background: transparent !important;
        color: #989393;
        margin: 0px 10px;
    }

    /* single bog post css start */
    .single-post-link {
        padding: 0px;
        margin-top: 29px;
    }
    .single-post-link li {
        list-style: none;
        display: inline-block;
        margin: 0px 7px;
    }
    .single-post-link li a {
        padding: 5px 10px;
        border: 1px solid #3498db;
        border-radius: 15px;
        color: #3498db;
        text-decoration: none;
    }
    .card-inner{
        margin-left: 6rem;
    }
    .cu-coment-img{
        width: 100px;
    }
    .coment {
        margin-bottom: 70px;
    }
    .custom-coment-form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }