.slick-arrow{
    display: none !important;
}

.card-blog:hover  .slick-slider > .slick-arrow  {
    display: block !important;
}

.slick-dots {
    bottom: 10px ;
}

.slick-dots li {
    margin: 0px;
}

.slick-dots li.slick-active button:before {
    color: white;
}

