.gm-style .gm-style-iw-c {
    padding:0px;
    border-radius: 20px !important;
    max-width: 250px !important;
}

.gm-style .gm-style-iw-c > button{
    display: none !important
  }

.gm-style .gm-style-iw-t::after {
    background: linear-gradient(0deg,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 0%);
    box-shadow: 0px 0px 0px 0;
}
.gm-style-iw-d {
      overflow: hidden !important;
 }

 .gm-fullscreen-control {
   display: none !important;
 }
  .google-info-window {
      min-width: 250px;
      font-size: 1.4em;
      
  }
  .google-info-window-img {
    width:100%;
    height: 190px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px;

  }

  .google-info-window-body {
       min-height: 12vh;
  }

  .google-info-window-title {
        font-weight: 700;
        font-size: 1.5rem;
        padding: 8px;
  }

.google-info-window-description{
    margin-top: 20px;
    padding: 8px;
    
}

.gm-style .gm-style-iw-c:hover  .slick-slider > .slick-arrow  {
  display: block !important;
}

.google-info-window  .slick-next , 
.google-info-window  .slick-prev {
  top: 55% !important;
  z-index: 10000;
}
.google-info-window .slick-prev:before,
.google-info-window .slick-next:before {
  font-size: 30px !important;
  opacity: 1 !important;
}

.google-info-window  .slick-next {
  right: 25px !important;
}
.google-info-window  .slick-prev{
  left: 15px !important;
}

.map-popup-star {
  color: #337ab7;
}