.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
p, h1 , h2 , h3 , h4 , h5 , h6 , a , li {
  /* font-family: 'LeituraDisplay-Roman' !important; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/**
* Shows how you can use CSS to style your Element's container.
*/
.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**
* Dynamic Style
*/

.earn-more {
  display: flex;
  background-color: #EBF5FC;
  align-items: center;
  justify-content: center; 
  padding: 30px;
}
.earn-more > * {
  margin-top: 10px;
  color: #3498DB;
}
.client-result {
  background-color: #F2F2F2;
  padding: 35px 25px;
  margin-bottom: 30px;
}
.client-result > h3 {
  text-align: center;
}
.break {
  border-bottom: 3px solid #484848;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.learn-btn {
  background-color: #3498DB;
  color: white;
  border:none;
  padding: 10px 30px;
  border-radius: 3px;
}
.flex-center {
  display: flex;
  justify-content: center;
  margin: 35px;
}
.rent-title {
  color: #484848;
}
.flex{
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.col-5 {
  width: 20%;
  padding: 0 20px;
}
.py-5 {
  padding: 5rem 0rem;
}
.items-center {
  align-items: center;
}
.lightpick  {
  width: 100%;
}
.lightpick__month {
  width: unset ;
}

footer {
  margin-top: 70px;
}
.max-w-250{
  max-width: 250px;
}
.flex-parent {
  display: flex;
  justify-content: space-evenly;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrapper > div {
  margin: 0 20px;
}
.text-overflow {
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.DateRangePicker_picker  {
  z-index: 10 !important;
}
.p-10 {
  padding: 15px;
}
.p-30 {
  padding: 30px;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pl-100 {
  padding-left: 100px;
}
a:hover{
  text-decoration: none;
}
.italic-underline {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.justify-content-end{
  justify-content: flex-end;
}
.align-items-center {
  align-items: center
}
.pr-60 {
  padding-right: 60px;
}
.font-lg {
  font-size: 32px !important;
  margin-bottom: 30px !important;
}
.learn-btn {
  min-width: 230px;
}
.pl-60 {
  padding-left: 60px;
}

.amenities-img {
  width: 94px; 
  height: 94px;
}
.justify-center {
  justify-content: center;
}
a:focus {
  text-decoration: none;
}
h3 {
  color: #484848;
}
.take-tour-btn {
  background-color: white;
  border-radius: 4px;
  border: none;
  position: absolute;
  padding: 5px 18px;
  bottom: 40px;
  right: 40px;
  color: #484848;
}
.gusts-slect-menu {
  max-width: 350px;
}
.check-availability-section {
  margin-top: 20px;
  display: flex;
}
.check-availability-section > * {
  flex:1;
  margin: 0 15px;
}
.check-availability-gallery {
  display: flex;
  flex: unset;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
}
.h-unset {
  height: unset !important;
}
.beach-img-box {
  position: relative;
}
@media(max-width: 970px ){
  .check-availability-section {
    flex-direction: column;
  }
  .check-availability-section > *{
    flex: unset;
  }
  .h-unset {
    display: none;
   height: 500px !important; 
   margin-bottom: 20px;
  }
}
.otherPlacesWrapper {
  display: flex;
  flex-wrap: wrap;
}
.place:nth-child(2){
  display: none;
}
.place {
  padding: 0 10px;
  max-width: 25%;
  min-width: 25%;
}
img.author-picture {
  width: 100%;
  max-height: unset;
}
@media (max-width: 1250px){
  .otherPlacesWrapper {
    justify-content: unset;
  }
  .place{
    max-width: 50%;
    min-width: 50%;
  }
}

@media (max-width: 740px){
  .place {
    max-width: 100%;
    min-width: 100%;
  }
}

.check-availability-wrapper {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.check-availability-wrapper .content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.check-availability-wrapper .content .price {
  font-size: 18px;
  margin-bottom: 7px;
}
.check-availability-wrapper .content .rate {
  margin-bottom: 20px;
}
.check-availability-wrapper .content .rate i {
  color: #3498DB;
  margin-right: 5px;
}
.check-availability-wrapper .DateRangePickerInput__showClearDates {
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
}
.check-availability-wrapper .DateInput_input {
  font-size: 16px;
  padding: 7px 11px 5px;
}
.check-availability-btn {
  color: white;
  background: #3498DB;
  border: none;
  padding: 10px 14px;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-top: 30px;
}
.overlay {
  background-color: black;
  opacity: .6;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
  z-index: 10 ;
}
.relative {
  position: relative;
}
.remove-btn {
  background-color: white;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: -45px;   
}
.guests-calculator-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.calculator {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}
.chips-list {
  position: absolute;
  display: flex;
}
.chips-list .chip {
  background-color: #3498DB;
  color: white;
  padding: 3px 12px;
  border-radius: 3px;
  margin-left: 10px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.input-wrapper .collapse-btn {
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
}
.guests-calculator-wrapper .close-btn {
  text-align: right;
  margin-top: 20px;
}
.guests-calculator-wrapper .close-btn button {
  background-color: transparent;
  border: none;
}
.guests-input {
  border: 1px solid #3498DB;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}
.calculator-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calculator-item  .increamenter{
  display: flex;
}
.increamenter {
  display: flex;
  align-items: center;
}
.increamenter > button {
  border: 1px solid #3498DB;
  background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 25px;
  margin: 0 20px;
  color: #3498DB;
}
#checkout-header {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 30px;
  display: flex;
  position: relative;
}
#checkout-header .logo {
  width: 200px;
  position: absolute;
  left: 25px;
  top: 0;
}
#checkout-header .links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-self: center;
  margin-top: 30px;
}
#checkout-header .links a{
  color: #707070;
  margin-right: 30px
}
#checkout-header .links .active {
  color: #484848;
}
.number-of-nights {
  margin-top: 50px;
  color: black;
  font-weight: bold;
}
.checkouts-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.check {
  display: flex;
  align-items: center ;
}
.check p {
  color: #484848;
  margin: 0;
}
.check p:first-of-type{
  margin-bottom: 2px;
}
.label-grey {
  background-color: #F2F2F2;
  padding: 8px 16px;
  border-radius: 5px;
  margin-right: 20px;
  text-align: center;
}
.label-grey p {
  font-weight: bold;
}
.marker {
  margin: 30px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 0;
}
.marker span:first-child {
  margin-right: 10px;
}
.things {
  margin: 20px 0px;
}
.thing {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.thing .icon {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  color: #484848;
}
.text{
  color: #484848;
}
.read-more {
  color: #3498DB;
  font-weight: bold;
}
.agree {
  margin-top: 40px;
}
.agree button {
  background-color: #3498DB;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 40px;
}
.flat-card-wrapper {
  display: flex;
  justify-content: flex-end;
}
.flat-card {
  max-width: 360px;
  border: 1px solid #F2F2F2;
  padding: 40px 20px;
  border-radius: 6px;
}
.flat-card .header {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.flat-card .header div:first-child {
  padding-right: 30px;
}
.flat-card .header img {
  border-radius: 5px;
  width: 100px; 
}
.flat-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.flat-description {
  margin-bottom: 10px;
}
.flat-card .header .star .icon{
  color: #3498DB;
  margin-right: 5px;
}
.guests {
  margin-top: 30px;
  margin-bottom: 10px;
}
.guests .icon {
  margin-right: 30px;
}
.dates {
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.dates span {
  margin-right: 30px
}
.price-details {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.price-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.total {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 30px;
}
.link.active {
  font-weight: bold;
}

textarea {
  resize: none;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  width: 100%;
}

/** switch **/

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
    background: #3498DB;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.number-of-nights.switch{
  display: flex;
}
.number-of-nights .material-switch  {
  margin-left: 40px;
}
.credit-title{
  margin-top: 30px;
  font-weight: bold;
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enter-coupon {
  display: inline-block;
  color: #0099FF;
  margin-top: 15px;
}
.title-3{
  font-size: 15px;
  color: #484848;
  font-weight: bold;
}
.block{
  display: block;
}
.mt-60 {
  margin-top: 60px;
}
.ways-to-pay {
  margin-top: 17px;
}
.way-to-pay{
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 7px;
  padding: 20px;
  margin-top: 14px;
}
.way-to-pay.active {
  border: 1px solid #3498DB ;
}
.way-price{
  font-weight: bold;
}
.way-price > p{
  margin-bottom: 0;
}
.way-state{
  font-weight: normal;
  font-style: italic;
}
.way-description {
  color: #CCCCCC;
}
.ml-auto{
  margin-left: auto;
}
.way-title {
  margin-right: 70px;
  max-width: 330px;
}
.color-blue {
  color: #0099FF;
}
.policy-description {
  margin-top: 20px;
}
.circle-thin , .circle-thick {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 20px;
}
.circle-thin {
  border: 2px solid #707070;
}
.active .circle-thin {
  border: 2px solid #3498DB;
}
.circle-thick{
  border: 6px solid #707070; 
}
.active .circle-thick{
  border: 6px solid #3498DB; 
}
@media (max-width: 1690px){
  #checkout-header .links {
    justify-content: center;
  }
}
@media (max-width: 991px){
  #checkout-header .links {
    margin-top: 80px;
  }
  .agree button {
   width: 100%; 
  }
  .agree {
    margin-bottom: 50px;
  }
  .flat-card-wrapper {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.check-availability-btn {
  text-align: center;
}
.check-availability-btn:hover {
  color: white;
}
.logo {
  width: 100% !important;
  max-width: 220px;
}
.mb-20 {
  margin-bottom: 20px;
}
.py-20 {
  padding: 20px 0;
}
.mt-10{
  margin-top: 10px;
}
.font-bold {
  font-weight: bold;
}
.width-unset{
  width: 90% !important;
}
.slick-next , .slick-prev {
  top: 42% !important;
  z-index: 10000;
}
.slick-next {
  right: 90px !important;
}
.slick-prev{
  left: 13px !important;
}
.slick-prev:before, .slick-next:before {
  font-size: 40px !important;
  opacity: 1 !important;
}
.guests-input.error {
  border: 1px solid #db3434;
}
.error .DateRangePickerInput__withBorder{ 
  border: 1px solid #db3434;
}
@media(max-width: 768px){
  .footers {
    text-align: center;
  }
}
.container-n {
  width: 80%;
  margin: 0 auto;
}
.card-wrapper-n{
  display: flex;
  flex-wrap: wrap;
}
.card-n {
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px;
}
.card-large-n{
  display: inline-block;
}
.card-cover-n{
  width: 100%;
  height: 12vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-title-n {
  margin-top: 7px;
}
.explore-all{
  display: inline-block;
  color: #9098db;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media(max-width: 1280px){
  .card-n{
    width: 33.33333%;
  }
  .card-large-n {
    width: 25%;
  }
  .card-cover-large-n{
    height: 25vw;
  }
}
@media(max-width: 1025px){
  .card-n{
    width: 50%;
  }
  .card-cover-n{
    height: 16vw;
  }
  .card-cover-large-n{
    height: 25vw;
  }
}
@media(max-width: 700px){
  .card-n{
    width: 100%;
  }
  .card-cover-n{
    height: 25vw;

  }
}
.total-calculator > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 5px;
}
.amentity-cover {
  background-size: 35%;
  background-color: #f2f2f2;
}

.CalendarDay__selected_span {
 
  background: #60befc;
  border: 1px double #a7d4f2;
  color: #fff
}
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #9dd2f5;
  border: 1px double #70c6ff;
  color: #fff
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #3498DB;
  border: 1px double #3498DB;
  color: #fff
}
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #abddff;
  border: 1px double #61c0ff;
  color: #007a87
}
.CalendarDay__hovered_span:active {
  background: #61c0ff;
  border: 1px double #61c0ff;
  color: #007a87
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-top: 26px solid transparent;
  border-right: 33px solid #3498DB;
  bottom: 0;
  right: 0
}
.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
  border-right: 33px solid #0471ba
}

