.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
p, h1 , h2 , h3 , h4 , h5 , h6 , a , li {
  /* font-family: 'LeituraDisplay-Roman' !important; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/**
* Shows how you can use CSS to style your Element's container.
*/
.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**
* Dynamic Style
*/

.earn-more {
  display: flex;
  background-color: #EBF5FC;
  align-items: center;
  justify-content: center; 
  padding: 30px;
}
.earn-more > * {
  margin-top: 10px;
  color: #3498DB;
}
.client-result {
  background-color: #F2F2F2;
  padding: 35px 25px;
  margin-bottom: 30px;
}
.client-result > h3 {
  text-align: center;
}
.break {
  border-bottom: 3px solid #484848;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.learn-btn {
  background-color: #3498DB;
  color: white;
  border:none;
  padding: 10px 30px;
  border-radius: 3px;
}
.flex-center {
  display: flex;
  justify-content: center;
  margin: 35px;
}
.rent-title {
  color: #484848;
}
.flex{
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.col-5 {
  width: 20%;
  padding: 0 20px;
}
.py-5 {
  padding: 5rem 0rem;
}
.items-center {
  align-items: center;
}
.lightpick  {
  width: 100%;
}
.lightpick__month {
  width: unset ;
}

footer {
  margin-top: 70px;
}
.max-w-250{
  max-width: 250px;
}
.flex-parent {
  display: flex;
  justify-content: space-evenly;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrapper > div {
  margin: 0 20px;
}
.text-overflow {
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}
.DateRangePicker_picker  {
  z-index: 10 !important;
}
.p-10 {
  padding: 15px;
}
.p-30 {
  padding: 30px;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.pl-100 {
  padding-left: 100px;
}
a:hover{
  text-decoration: none;
}
.italic-underline {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.justify-content-end{
  justify-content: flex-end;
}
.align-items-center {
  align-items: center
}
.pr-60 {
  padding-right: 60px;
}
.font-lg {
  font-size: 32px !important;
  margin-bottom: 30px !important;
}
.learn-btn {
  min-width: 230px;
}
.pl-60 {
  padding-left: 60px;
}

.amenities-img {
  width: 94px; 
  height: 94px;
}
.justify-center {
  justify-content: center;
}
a:focus {
  text-decoration: none;
}
h3 {
  color: #484848;
}
.take-tour-btn {
  background-color: white;
  border-radius: 4px;
  border: none;
  position: absolute;
  padding: 5px 18px;
  bottom: 40px;
  right: 40px;
  color: #484848;
}
.gusts-slect-menu {
  max-width: 350px;
}
.check-availability-section {
  margin-top: 20px;
  display: flex;
}
.check-availability-section > * {
  flex:1;
  margin: 0 15px;
}
.check-availability-gallery {
  display: flex;
  flex: unset;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
}
.h-unset {
  height: unset !important;
}
.beach-img-box {
  position: relative;
}
@media(max-width: 970px ){
  .check-availability-section {
    flex-direction: column;
  }
  .check-availability-section > *{
    flex: unset;
  }
  .h-unset {
    display: none;
   height: 500px !important; 
   margin-bottom: 20px;
  }
}

.otherPlacesWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.place:nth-child(2){
  display: none;
}
.place {
  padding: 0 10px;
  max-width: 25%;
}
img.author-picture {
  width: 100%;
  max-height: unset;
}
@media (max-width: 1110px){
  .otherPlacesWrapper {
    justify-content: unset;
  }
  .place{
    max-width: 50%;
  }
}

@media (max-width: 740px){
  .place {
    max-width: 100%;
  }
}

.check-availability-wrapper {
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}
.check-availability-wrapper .content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.check-availability-wrapper .content .price {
  font-size: 18px;
  margin-bottom: 7px;
}
.check-availability-wrapper .content .rate {
  margin-bottom: 20px;
}
.check-availability-wrapper .content .rate i {
  color: #3498DB;
  margin-right: 5px;
}
.check-availability-wrapper .DateRangePickerInput__showClearDates {
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
}
.check-availability-wrapper .DateInput_input {
  font-size: 16px;
  padding: 7px 11px 5px;
}
.check-availability-btn {
  color: white;
  background: #3498DB;
  border: none;
  padding: 10px 14px;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-top: 30px;
}
.overlay {
  background-color: black;
  opacity: .6;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; 
  z-index: 10 ;
}
.relative {
  position: relative;
}
.remove-btn {
  background-color: white;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  position: absolute;
  top: -45px;
  right: -45px;   
}
.guests-calculator-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.calculator {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}
.chips-list {
  position: absolute;
  display: flex;
}
.chips-list .chip {
  background-color: #3498DB;
  color: white;
  padding: 3px 12px;
  border-radius: 3px;
  margin-left: 10px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.input-wrapper .collapse-btn {
  position: absolute;
  right: 10px;
  background-color: white;
  border: none;
}
.guests-calculator-wrapper .close-btn {
  text-align: right;
  margin-top: 20px;
}
.guests-input {
  border: 1px solid #3498DB;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
}
.calculator-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calculator-item  .increamenter{
  display: flex;
}
.increamenter {
  display: flex;
  align-items: center;
}
.increamenter > button {
  border: 1px solid #3498DB;
  background-color: white;
  width: 36px;
  height: 36px;
  border-radius: 25px;
  margin: 0 20px;
  color: #3498DB;
}