.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/**
* Shows how you can use CSS to style your Element's container.
*/
.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**
* Dynamic Style
*/

.earn-more {
  display: flex;
  background-color: #EBF5FC;
  align-items: center;
  justify-content: center; 
  padding: 30px;
}
.earn-more > * {
  margin-top: 10px;
  color: #3498DB;
}
.client-result {
  background-color: #F2F2F2;
  padding: 35px 25px;
  margin-bottom: 30px;
}
.client-result > h3 {
  text-align: center;
}
.break {
  border-bottom: 3px solid #484848;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.learn-btn {
  background-color: #3498DB;
  color: white;
  border:none;
  padding: 10px 30px;
  border-radius: 3px;
}
.flex-center {
  display: flex;
  justify-content: center;
  margin: 35px;
}
.rent-title {
  color: #484848;
}
.flex{
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.col-5 {
  width: 20%;
  padding: 0 20px;
}
.py-5 {
  padding: 5rem 0rem;
}
.items-center {
  align-items: center;
}
.lightpick  {
  width: 100%;
}
.lightpick__month {
  width: unset ;
}

footer {
  margin-top: 70px;
}
.max-w-250{
  max-width: 250px;
}
.flex-parent {
  display: flex;
  justify-content: space-evenly;
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrapper > div {
  margin: 0 20px;
}
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}